<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="error" class="img-fluid">
                        </figure>
                        <p>Welcome to Suyash Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        {{!-- we are passing values from app.js file! --}}
                        <a href="/"><button>Back to home page</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

</body>
</html>